tr:nth-child(1) th:nth-child(1){
    background-color: rgb(111, 117, 117, 0.479);
}
tr:nth-child(1) th:nth-child(2){
    background-color: rgb(111, 117, 117, 0.479);
}
tr:nth-child(1) th:nth-child(3){
    background-color: rgba(214, 123, 123, 0.479);
}


tr:nth-child(2) th:nth-child(1){
    background-color: rgb(192, 186, 105, 0.479);
}
tr:nth-child(2) th:nth-child(2){
    background-color: rgb(175, 184, 184, 0.479);
}
tr:nth-child(2) th:nth-child(3){
    background-color: rgb(192, 186, 105, 0.479);
}


tr:nth-child(3) th{
    background-color: rgb(111, 117, 117, 0.479)
}


th{
    width: 120px;
    height: 50px;
}