@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;600;800&family=Share+Tech&family=Share+Tech+Mono&display=swap');

.nav-link{
    color: white !important;
    font-size: 1.4rem !important;
    font-family: 'Share Tech Mono', monospace !important;
    font-weight: 600 !important;
}

.navbar-nav{
    gap: 24px !important;
}

.navbar-collapse{
    padding: 0px 15px !important;
}